*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid gray;
}


.battlefield {
    &__wrapper {
        background-image: url(../img/main-bg.jpg);
        background-size: cover;
    }

    &__container {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__main {
        height: 100vh;
        background-color: rgba(0, 0, 255, 0.288);
    }

    &__top {
        height: 14%;
        background-image: url(../img/battlefield-top.jpg);
        display: flex;
    }

    &__middle {
        height: 72%;
        background-image: url(../img/battlefield-middle2.jpg);
        background-size: 100% 100%;
        display: flex;
    }

    &__bottom {
        height: 14%;
        display: flex;
        background-image: url(../img/battlefield-bottom.jpg);
        background-size: cover;
    }

    &__current-score {
        width: 5%;
    }

    &__round-score {
        width: 4%;
    }

    &__remaining-cards {
        width: 3%;
    }

    &__general-card {
        width: 6%;
    }

    &__hand {
        flex: 1;
    }

    &__graveyard {
        width: 8%;
    }

    &__remaining-deck {
        width: 8%;
    }

}

.player-block {
    width: 19%;
    display: flex;

    &__image {
        display: block;
        flex: 1;
    }

    &__info {
        flex: 3;
    }
}

.middle {
    display: flex;

    &__left {
        width: 25%;
        display: flex;
        flex-direction: column;
    }

    &__center {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__right {
        width: 20%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

.left {
    &__timer {
        flex: 1;
        margin-right: 70px;
    }
    &__coin {
        flex: 1;
        margin-right: 70px;
    }
}

.middle__opponent {
    flex: 1;
    background-size: cover;
}

.middle__player {
    flex: 1;
}

.rows {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 5px;

    &__siege,
    &__range,
    &__melee {
        margin: 2px 0;
        position: relative;
        flex: 1;
        background-size: 100% 100%;
    }

    &__siege {
        background-image: url(../img/row-seige.png);
    }

    &__range {
        background-image: url(../img/row-range.JPG);
    }

    &__melee {
        background-image: url(../img/row-melee.JPG);
    }

    &__score {
        position: absolute;
        left: -70px;
        height: 100%;
        width: 60px;
    }
}

.right__card {
    flex: 9;
}

.btn-pass {
    flex: 1;
    width: 80%;
    margin: 20px auto 0;

	-moz-box-shadow: 0px 4px 5px 0px #070921;
	-webkit-box-shadow: 0px 4px 5px 0px #070921;
	box-shadow: 0px 4px 5px 0px #070921;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #01586b), color-stop(1, #070921));
	background:-moz-linear-gradient(top, #01586b 5%, #070921 100%);
	background:-webkit-linear-gradient(top, #01586b 5%, #070921 100%);
	background:-o-linear-gradient(top, #01586b 5%, #070921 100%);
	background:-ms-linear-gradient(top, #01586b 5%, #070921 100%);
	background:linear-gradient(to bottom, #01586b 5%, #070921 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#01586b', endColorstr='#070921',GradientType=0);
	background-color:#01586b;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
    border: 1px solid rgb(218, 218, 218);	
	cursor:pointer;
	color:#fefffa;
	font-family:Arial;
	font-size: 1.2rem;
    font-weight:bold;
    letter-spacing: 2px;
	padding:2px .5rem;
	text-decoration:none;
	text-shadow:0px 1px 4px #cca3a3;
}
.btn-pass:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #070921), color-stop(1, #01586b));
	background:-moz-linear-gradient(top, #070921 5%, #01586b 100%);
	background:-webkit-linear-gradient(top, #070921 5%, #01586b 100%);
	background:-o-linear-gradient(top, #070921 5%, #01586b 100%);
	background:-ms-linear-gradient(top, #070921 5%, #01586b 100%);
	background:linear-gradient(to bottom, #070921 5%, #01586b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#070921', endColorstr='#01586b',GradientType=0);
	background-color:#070921;
}
.btn-pass:active {
	position:relative;
	top:1px;
}