*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid gray;
}

@font-face {
    font-family: gwent;
    src: url(../fonts/gwent_font_by_pependejo-dc3d736.ttf)
}

.battlefield {
    &__wrapper {
        background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(4, 42, 68, 0.795)), url('../img/gameover-bg.jpg');
        background-size: cover;
        height: 100vh;
    }

    &__container {
        max-width: 1024px;
        height: 72%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__top {
        height: 14%;
        background-image: linear-gradient(rgba(189, 0, 0, 0.336), rgba(0, 0, 0, 0.356)), url(../img/battlefield-top.jpg);
        display: flex;
        border-bottom: 1px solid rgb(56, 55, 55);
        box-shadow: 0 0 15px 5px rgba(29, 29, 29, 0.719);
    }

    &__middle {
        background-size: 100% 100%;
        display: flex;
        height: 100%;
    }

    &__main {
        height: 100%;
    }

    &__bottom {
        height: 14%;
        display: flex;
        background-image: linear-gradient(rgba(17, 19, 119, 0.842), black), url(../img/battlefield-bottom.jpg);
        background-size: cover;
        border-top: 1px solid rgb(56, 55, 55);
        box-shadow: 0 0 15px 5px rgba(29, 29, 29, 0.719);

    }

    &__current-score {
        width: 5%;
    }

    &__round-score {
        width: 4%;
    }

    &__remaining-cards {
        width: 3%;
    }

    &__general-card {
        width: 6%;
    }

    &__hand {
        flex: 1;
    }

    &__graveyard {
        width: 8%;
    }

    &__remaining-deck {
        width: 8%;
    }

}

.player-block {
    width: 19%;
    display: flex;

    &__image {
        display: block;
        flex: 1;
    }

    &__info {
        flex: 3;
    }
}

.middle {
    display: flex;

    &__left {
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    &__center {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__right {
        width: 20%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

.left {
    &__timer {
        flex: 1;
        margin-right: 70px;
    }
    &__coin {
        flex: 1;
        margin-right: 70px;
    }
}

.middle__opponent {
    flex: 1;
    background-size: cover;
}

.middle__player {
    flex: 1;
}

.rows {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 5px;

    &__row {
        padding: 0 110px;
    }

    &__siege,
    &__range,
    &__melee {
        margin: 2px 0;
        position: relative;
        flex: 1;
        background-size: 100% 100%;
    }

    &__siege {
        background-image: url(../img/board-rows3.jpg);
    }

    &__range {
        background-image: url(../img/board-range3.jpg);
    }

    &__melee {
        background-image: url(../img/board-melee3.jpg);
    }

    &__score {
        position: absolute;
        left: -70px;
        height: 100%;
        width: 60px;
    }
}

.rows > div {
    box-shadow: 0 2px 20px 5px rgb(0, 0, 0);
    border: 1px solid rgb(56, 55, 55);    
}


.right__card {
    flex: 9;
}

.btn-pass {
    flex: 1;
    width: 100%;

    box-shadow: 0 2px 20px 5px rgb(0, 0, 0);
	background:linear-gradient(to bottom, #3d3d3d 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#01586b', endColorstr='#070921',GradientType=0);
	border-radius:5px;
    border: 2px solid rgb(95, 95, 95);    

	cursor:pointer;

    background: -webkit-linear-gradient(rgb(255, 245, 111), rgb(250, 100, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: gwent;
	font-size: 1.3rem;
    font-weight:bold;
    letter-spacing: 3px;
	padding: .5rem;
	text-decoration:none;
	// text-shadow:0px 1px 2px #0a0a0a;
}
.btn-pass:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#070921', endColorstr='#01586b',GradientType=0);
    
    background: -webkit-linear-gradient(rgb(250, 100, 0), rgb(255, 245, 111));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    box-shadow: 0 4px 20px 5px rgb(0, 0, 0);
    border: 2px solid rgba(247, 239, 139, 0.863);    

    position:relative;
	top:-1px;
}

.btn-wrapper {
    background-color: rgba(3, 1, 1, 0.493);
    background-image: linear-gradient(rgba(3, 1, 1, 0.205) 0%, rgb(0, 0, 0) 40%, rgba(3, 1, 1, 0.137) 60%);

    width: 135px;
	border-radius:5px;
}

.btn-wrapper:hover {
    background-image: linear-gradient(rgb(24, 24, 24) 0%, rgb(0, 0, 0) 40%, rgb(24, 24, 24) 60%);
}

.btn-pass:active {
	position:relative;
	top:2px;
}

.btn-pass:focus {
    outline: none;
}