.right__card {
    position: relative;
    padding-top: 260px;
    padding-left: 10px;
    opacity: 0;
    transition: 1s;
}
.right__card_image {
    position: absolute;
    width: 130%;
    top: -50px;
    left: -40px;
}
.right__card_anotation {
    margin-top: 1rem;
}
.showIn {
    opacity: 100;
    transition: 1s;
}