body {
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100vw;
    height: 20vh;
}
.leftBar {
    width: 20vw;
}
main {
    width: 60vw;
    height: 60vh;
}
.rightBar {
    width: 20vw;
}
footer {
    width: 100vw;
    height: 20vh;

}
.hand {
    display: flex;
}