.active-card{
    outline: 2px solid #fff000;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.active-row{
    outline: 2px solid #fff000;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.Countdown-timer{
    width: 100%;
    font-size: 4rem;
    display: flex;
}
.js-time{
    margin: auto;
}