div {
    // width: 100px;
    // height: 100px;
    background-color: #fff000;
}
.active-card{
    background-color: #ff0000;
    width: 30px;
}
.active-row{
    background-color: #ff0000;
    width: 30px;
}
img {
    width: 20px;
}
#player-hand{
    display: flex;
    flex-wrap: wrap;
}